/* goggle font */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

:root {
  /* Primary */
  --body-font: "Kumbh Sans", serif;
  --orange-color: hsl(26, 100%, 55%);
  --pale-orange-color: hsl(25, 100%, 94%);

  /* Neutral */
  --dark-blue-color: hsl(220, 13%, 13%);
  --dark-grayish-blue-color: hsl(219, 9%, 45%);
  --grayish-blue-color: hsl(220, 14%, 75%);
  --light-grayish-blue-color: hsl(223, 64%, 98%);
  --white-color: hsl(0, 0%, 100%);
  /* 75% opacity for lightbox background */
  --black-opacity: hsl(0, 0%, 0%);

  /* Font-size */
  --font-size: 1rem;

  /* font weights */
  --medium-font-weight: 400;
  --bold-font-weight: 900;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styling */
body {
  font-family: var(--body-font);
  font-weight: var(--font-size);
  line-height: 1.5;
  user-select: none;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.container {
  margin: 0 10vw;
}

header {
  margin: 1rem 0;
}

.nav {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--dark-grayish-blue-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo {
  font-size: 1.7rem;
  font-weight: var(--bold-font-weight);
  margin-right: 3rem;
}

.nav__logo span {
  font-size: 1.2rem;
  color: var(--dark-grayish-blue-color);
  margin-right: 1rem;
  display: none;
}

.nav__list {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.nav__list li a {
  color: var(--dark-grayish-blue-color);
  font-size: 14px;
  transition: all 0.1s ease;
  padding-bottom: 1.5rem;
}

.nav__list li a:hover {
  color: #111;
  font-weight: 600;
  border-bottom: 3px solid var(--orange-color);
}

.nav__shopping {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__shopping .icon__cart {
  margin-right: 3rem;
}

.nav__shopping .avatar__image {
  width: 40px;
  transition: border 0.4s ease;
}

.nav__shopping .avatar__image:hover {
  border: 1px solid var(--orange-color);
  border-radius: 2rem;
}

.nav__shopping .icon__cart:hover,
.nav__shopping .avatar__image:hover {
  cursor: pointer;
}

section {
  padding: 2rem 0;
}

.main__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main__image-img {
  width: 40%;
  margin-bottom: 1rem;
}

.main__content-images img {
  width: 400px;
  border-radius: 10px;
}

.main__content-products {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.main__content-products img {
  width: 60px !important;
  cursor: pointer;
}

.main__content-text {
  color: var(--dark-grayish-blue-color);
  padding-left: 6rem;
  width: 50%;
  /* letter-spacing: 2px; */
}

.main__content-text .subtitle {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
}

.main__content-text .title {
  color: #111;
  font-size: 2rem;
  font-weight: var(--bold-font-weight);
  padding-bottom: 1rem;
}

.main__content-text .note {
  font-size: 14px;
  padding-bottom: 1rem;
}

.prices {
  font-weight: var(--bold-font-weight);
}

.prices .current__price {
  color: #111;
}

.prices .current__price {
  font-size: 1.25rem;
  font-weight: var(--bold-font-weight);
  padding-bottom: 10px;
}

.prices .current__price span {
  font-size: 0.65rem;
  color: var(--white-color);
  background-color: #111;
  padding: 2px 7px;
  border-radius: 4px;
  margin-left: 1rem;
}

.prices .previous__price {
  font-size: 12px;
  font-weight: var(--bold-font-weight);
  text-decoration: line-through;
  padding-bottom: 1rem;
}

.cart__manage {
  display: flex;
  gap: 2rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: var(--light-grayish-blue-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: var(--bold-font-weight);
}

.decrease__item,
.increase__item {
  color: var(--orange-color);
  cursor: pointer;
  transition: all 0.4s ease;
}

.decrease__item:hover,
.increase__item:hover {
  opacity: 75%;
}

.count {
  font-size: 14px;
  color: #111;
}

.add_to_cart {
  background-color: var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

.add_to_cart:hover {
  background-color: var(--pale-orange-color);
}

.add_to_cart a {
  color: #111;
  font-size: 13px;
  font-weight: var(--bold-font-weight);
}

/* hover styles for products */
.product1,
.product2,
.product3,
.product4 {
  transition: all 0.5s ease;
}

.product1:hover,
.product2:hover,
.product3:hover,
.product4:hover {
  /* border: 2px solid var(--orange-color); */
  opacity: 75%;
  transition: all 0.5s ease;
}

/* modal styles */

.cart__amount {
  /* display: none; */
  font-size: 12px;
  font-weight: var(--bold-font-weight);
}

.modal {
  position: absolute;
  margin-left: -10rem;
  top: -100%;
  -moz-box-shadow: 19px 20px 65px -40px rgba(0, 0, 0, 0.75);
  box-shadow: 19px 20px 65px -40px rgba(0, 0, 0, 0.75);
  font-size: 12px;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  z-index: 1000000;
  transition: 1s ease;
}

.modal__empty {
  position: absolute;
  margin-left: -10rem;
  top: -100%;
  -moz-box-shadow: 19px 20px 65px -40px rgba(0, 0, 0, 0.75);
  box-shadow: 19px 20px 65px -40px rgba(0, 0, 0, 0.75);
  font-size: 12px;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  z-index: 1000000;
  transition: 1s ease;
  width: 286px;
  padding: 2rem;
}

/* open modal class */
.modal__open {
  top: 5rem;
}

.cart__title {
  display: block;
  padding: 10px;
  font-weight: var(--bold-font-weight);
  border-bottom: 1px solid var(--grayish-blue-color);
}

.cart__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
}

.cart__info-img {
  display: block;
}

.cart__info-img img {
  width: 60px;
  border-radius: 5px;
}

.cart__info-text {
  color: var(--dark-grayish-blue-color);
  font-weight: var(--bold-font-weight);
}

.cart__info-text .total__price {
  color: #111;
}

.cart__info-delete {
  font-size: 1rem;
  color: var(--dark-grayish-blue-color);
  cursor: pointer;
}

.cart__checkout {
  background: var(--orange-color);
  margin: 5px;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  z-index: 10000;
}

.cart__checkout a {
  color: #111;
  font-weight: var(--bold-font-weight);
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* media queries*/
@media screen and (max-width: 982px) {
  header {
    margin: 0;
    padding: 1rem 0;
    z-index: 1000000;
  }
  section {
    padding: 1rem 0;
  }

  .header {
    background-color: #fff;
    box-shadow: 19px 20px 65px -40px rgba(0, 0, 0, 0.75) !important;
    z-index: 10000 !important;
  }
  .nav {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
  .nav__logo span {
    display: block;
    margin-bottom: -3px;
    /* font-size: 2rem; */
  }

  .nav__list {
    display: block;
    position: absolute;
    background: #fff;
    z-index: 100000;
    left: -100%;
    top: 0;
    color: #111 !important;
    height: 100vh;
    width: 50%;
    padding: 2rem;
    margin: 0;
  }

  .nav__list .nav__items {
    padding-bottom: 2rem;
    color: #111 !important;
    font-weight: var(--bold-font-weight);
  }

  .nav__list li a {
    color: #111;
  }

  .remove {
    display: block;
    padding-bottom: 3rem;
    font-size: 1.5rem;
  }

  .show__navbar {
    left: 0;
    transition: 0.5s ease;
  }

  .remove__navbar {
    left: -100%;
    transition: 0.5s ease;
  }

  .nav__shopping .icon__cart {
    margin-right: 1rem;
  }

  .nav__shopping .avatar__image {
    width: 30px;
  }

  .main__content {
    display: block;
  }

  .main__image {
    width: 100% !important;
  }

  .main__image-img {
    width: 100% !important;
  }
  .main__content-text {
    width: 100%;
  }

  .main__content-text {
    padding-left: 0;
    margin-top: 3rem;
  }

  .main__content-products {
    gap: 1rem;
  }
  .prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 1rem; */
  }

  .prices .current__price span {
    padding: 7px 15px;
  }

  .prices .previous__price {
    padding-bottom: 0;
  }

  .cart__manage {
    display: block;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .add_to_cart {
    padding: 20px 30px;
  }
}
