/* goggle font */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

:root {
  /* Primary */
  --body-font: "Kumbh Sans", serif;
  --orange-color: hsl(26, 100%, 55%);
  --pale-orange-color: hsl(25, 100%, 94%);

  /* Neutral */
  --dark-blue-color: hsl(220, 13%, 13%);
  --dark-grayish-blue-color: hsl(219, 9%, 45%);
  --grayish-blue-color: hsl(220, 14%, 75%);
  --light-grayish-blue-color: hsl(223, 64%, 98%);
  --white-color: hsl(0, 0%, 100%);
  /* 75% opacity for lightbox background */
  --black-opacity: hsl(0, 0%, 0%);

  /* Font-size */
  --font-size: 1rem;

  /* font weights */
  --medium-font-weight: 400;
  --bold-font-weight: 700;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styling */
body {
  font-family: var(--body-font);
  font-weight: var(--font-size);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.container {
  margin: 0 5vw;
}
